<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OTP Verification</title>
</head>

<body style="font-family:'Segoe UI',sans-serif;margin:0;background-color:#f8f8f8;line-height:1.6;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f8f8"
        style="width:100%;background-color:#f8f8f8;padding:30px 0;">
        <tr>
            <td align="center">
                <table cellpadding="0" cellspacing="0" border="0" width="600"
                    style="background-color:#ffffff;border-radius:12px;box-shadow:0 4px 12px rgba(0,0,0,0.1);overflow:hidden;">

                    <tr>
                        <td style="background-color:#ffffff;padding:20px 36px;">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td width="55" align="left" valign="middle">
                                        <img src="https://drive.google.com/uc?export=view&id=13T4YxK3ivSjDGb2j2QSU_wv-9WCNvPRR"
                                            alt="Vaultorix logo" style="width: 54px;height:48px;display:block;">
                                    </td>
                                    <td align="left" valign="middle" style="padding-left:10px;">
                                        <h1 style="margin:0;font-size:32px;font-weight:700;color:#000;">Vaultorix</h1>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding:0 40px 10px 40px;color:#333;font-size:16px;line-height:1.6;">
                            <p style="margin-top:0;">Hi {NAME},</p>
                            <p>
                                We received a request to verify your identity. Please use the following
                                One-Time Password (OTP) to continue:
                            </p>

                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td align="center" style="padding: 15px 0;">
                                        <div
                                            style="background-color:transparent;border-radius:8px;padding:5px 4px 6px 20px;display:inline-block;font-weight:750;font-size:30px;letter-spacing:16px;text-align:center;border:2px dashed #ccc;">
                                            {OTP}
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <p style="margin-bottom:0;">
                                This code will expire in <strong>2 minutes</strong>. Please do not share it
                                with anyone.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center;color:#555;font-size:13px;padding:10px 20px 20px 20px;">
                            If you didn't request this, you can safely ignore this email.
                            <br> &copy; 2025 Umar Creations. All rights reserved.
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>


</html>
